<template>
  <iframe src="https://info.safebeach.es/get!af25a13a5064e5e341b704b9c8e6a022&lng=en" />
</template>

<script>
export default {
  name: 'App',
  components: {
  }
}
</script>

<style scoped>
iframe  {
    width: 100%;
    border: medium none;
    overflow: hidden;
    height: 1500px;
}
</style>
